@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #0f1217; /* Darker background color */
  color: #fff; /* Text color */
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Shadows */
.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Updated shadow style */
}

.shadowbackdrop {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Updated shadow style */
}

/* Images */
.img {
  transition: transform 0.5s ease-in-out;
}

.card:hover .img {
  transform: scale(1.1);
}

/* Active state */
.active {
  background-color: #fff;
  color: #000;
}

/* Loader */
.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  animation: animloader 2s ease-in-out infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0%, 100% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0;
  }
}
